html {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	color: $white;
}

body {
	margin: 0;

	--icon-basket: url('../icons/icon-basket.svg');
	--icon-smile: url('../icons/icon-smile.svg');
	--icon-profile: url('../icons/icon-profile.svg');
	--icon-search: url('../icons/icon-search.svg');
	--icon-telegram: url('../icons/icon-telegram.svg');
	--icon-whatsapp: url('../icons/icon-whatsapp.svg');
	--icon-inst: url('../icons/icon-inst.svg');
	--icon-call: url('../icons/icon-call.svg');
	--icon-telegram-big: url('../icons/icon-telegram-big.svg');
	--icon-whatsapp-big: url('../icons/icon-whatsapp-big.svg');
	--icon-inst-big: url('../icons/icon-inst-big.svg');
	--icon-call-big: url('../icons/icon-call-big.svg');
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1252px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
